<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acap.pkg.manager">

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="android.permission.DELETE_PACKAGES"
        android:protectionLevel="signature|privileged" /> <!-- 静默卸载 -->


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AndroidPackageManager">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".ApkDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".UninstallActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ManagerActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>